onnxruntime-genai-directml
huggingface-hub
numpy<2.0
customtkinter
spacy
nltk
langchain-text-splitters
langchain-experimental
pdfplumber
pdf2image
pytesseract
requests
PyYAML
pandas
ftfy
unidecode
pytest